@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #000000;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}